:root{
    --primary: #fff;
}

.btn{
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn--primary{
    background: linear-gradient(
    90deg,
    rgb(255, 176, 39) 0%,
    rgb(236, 67, 0) 100%
    );
    color: #242424;
    border: 1px solid var(--primary);   
}

.btn--cours{
    margin-left: 75.4%;
    margin-top: 10px;
    margin-bottom: 200px;
    background: linear-gradient(
    90deg,
    rgb(255, 176, 39) 0%,
    rgb(236, 67, 0) 100%
    );
    color: #242424;
    border: 1px solid var(--primary);
    width: 255px;
    height: 60px;
}

.btn--outline{
    background-color: transparent;
    color: rgb(234, 234, 224);
    padding: 20px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btn--medium{
    padding: 8px 10px;
    font-size: 18px;
}

.btn--large{
    padding: 12px 26px;
    font-size: 20px;
}

.btn--medium:hover{
    background: rgb(226, 114, 50);
    color: #242424;
    transition: all 0.3s ease-out;
}
.btn--large:hover{
    background: linear-gradient(
        90deg,
        rgb(236, 67, 0) 0%,
        rgb(255, 176, 39) 100%
        );
    color: #f7f6f6;
    transition: all 0.3s ease-out;
}